

$base-dark:#000;
$base-light:#fff;


$primary-1:#013056;
$primary-22:#075da2;
$primary-33:#1b7fd0;
$primary-44:#caddea;

$order-color:#dd0000;

//colors 
$base-light:#fff;
$base-dark:#000;
$base-red:#dd0000;

$primary-1:#013056;
$primary-2:#1b7fd0;
$primary-3:#caddea;
$primary-4:#e2eaf2;
$primary-5:#f4f6fa;
$primary-6:#345978;
$order-bg: #075da2;

//fonts
$f-bold:'Roboto-Bold';
$f-reg: 'Roboto-Regular';
$f-med: 'Roboto-Medium';
$f-thin:'Roboto-Thin';