.order-bg {
    background: url(../../../img/Bg_elem1.png) $order-bg center center no-repeat;
    text-transform: uppercase;
    padding: 30px 0px;
 

    .order {
        background: $primary-3;
    }

    h2 {
        @include text (28px, $primary-2, $f-bold);
    }

    .num {
        @include text (50px, $base-red, $f-bold);
        margin-right: 10px;
    }

    .pros {
        @include text (37px, $base-red, $f-reg);
        margin-right: 10px;
    }

    .sub-text {
        @include text (35px, $base-red, $f-reg);
        margin-right: 10px;
    }

    .text {
        @include text (22px, $primary-2, $f-reg);
    }

    .toggle {
        @include toggle;
        position: absolute;
        bottom: -30px;
        left: 0;
    }

    .form {
        @include text (22px, $base-light, $f-reg);

        p {
            margin-top: 30px;
            margin-bottom: 10px;
        }

        input {
            font-size: 20px;
        }
        @media (max-width:998px) {
            font-size: 15px;
            
        }

    }

    .form-btn {
        display: flex;
        align-items: center;
        position: relative;

        a {
            padding: 10px 60px;
            background: $base-red;
            color: $base-light;
            text-decoration: none;
            transition: .4s;
        }

        a:hover {
            transition: .4s;
            color: $base-dark;
        }

        .toggle {
            @include toggle-red;
            bottom: 0;
        }
    }

    .form-text {
        display: flex;
        align-items: flex-end;

        .text-price {
            font-size: 16px;
        }

        .price {
            font-size: 35px;
        }

        .money {
            font-size: 20px;
        }
    }
}
@media (max-width: 768px) {
    .form {
    text-align: center;
justify-content: center;}
}
 